*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
}
.megaCanvas{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BABDBF;
    border: 10px solid #262626;
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 2px #484848 inset;
}
.container{
    height: 95%;
    width: 95%;
    background-color: #262626;
    border: 7px solid #262626;
    box-shadow: 2px 2px 4px #262626;
    background: radial-gradient();
    background-image: url(./icons/background\ test.svg);
    background-repeat: no-repeat;
    background-size: 95% 90%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container header{
    position: relative;
}
.container #navbar{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    overflow: hidden;
    background-color: #A1A4A6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container #navbar .logo{
    align-self: flex-start;
    margin-left: 5%;
}
#portfolio a{
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.04cm;
    font-family: "DM Serif Display", sans-serif;
    color: #F2F2F2;
    font-weight: bold;
}
#portfolio span{
    color: #262626;
}
.fadeIn{
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        right: -20px;
    }
    100%{
        opacity: 1;
        right: 0;
    }
}
.hamburger{
    padding: 3px 0;
    align-self: center;
    margin-right: 5%;
    align-self: center;
}
.hamburger:hover{
    opacity: 0.5;
}
#menu{
    position: absolute;
    right: 0%;
    align-items: center;
    padding: 13px 7px;
    border-radius: 20px;
    background-color: #BABDBF;
    width: 15%;
}
#menu li{
    padding: 10px 0;
    padding-left: 16px;
    margin-right: 5%;
    list-style: none;
    font-size: 1.7em;
    text-decoration: none;
}
@media screen and (width <= 1167px){
    #menu{
        padding: 6px 0;
        width: 120px;
    }
    #menu li{
        padding: 6px 0;
        padding-left: 10px;
        font-size: 1.3em;
    }
}
#home{
    color: #262626;
}
#projects{
    text-decoration: none;
    color: #262626;
}
#contactMe{
    text-decoration: none;
    color: #262626;
}
.hidden{
    display: none;
}
.show{
    display: inline;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.wrapperContent{
    display: flex;
    width: 80%;
    height: 90%;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.text{
    width: 560px;
    height: 440px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
#name{
    font-size: 4em;
    font-family: "DM Serif Display", sans-serif;
    /* margin-bottom: 20px; */
}
.text .discription{
    font-size: 1.3em;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.links a{
    border: 2px solid #A1A4A6;
    padding: 5px 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: #A1A4A6;
    border-radius: 5px;
    font-family: "DM Serif Display", sans-serif;
    transition: color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
.links .link:hover{
    color:#262626;
    background-color: #A1A4A6;
}
.image img{
    width: 320px;
    height: 360px;
    border-radius: 50%;
}
@media screen and (width < 1196px){
    .wrapperContent{
        flex-direction: column;
    }
    .discription{
        align-items: center;
    }
    .image{
        display: none;
    }
}
@media screen and (width < 789px){
    .text{
        width: 430px;
    }
}
@media screen and (width < 611px){
    .text{
        width: 310px;
        height: 650px;
        justify-content: space-around;
    }
    #name{
        font-size: 2.9em;
    }
    .discription{
        font-size: 1em;
        width: 300px;
    }
}